<div>
    <div class="weui-panel weui-panel_access">
        <!--未登录状态-->
        <div class="weui-panel__bd personal_unLogin_panel">
            <a href="javascript:void(0);" class="personal_unLogin_panel_a weui-media-box weui-media-box_appmsg " style="padding:30px 0px 30px 0px;">
                <div class="weui-media-box__hd personal_unLogin_default_icon" style="border-radius: 50%;background: #f1f1f1;margin-left:30px;">
                    <img class="weui-media-box__thumb" src="../../static/img/default.png"/>
                </div>
                <div class="weui-media-box__bd" style="margin-left:5px;">
                    <h4 class="weui-media-box__title" style="color:white;font-weight: 400;">注册/登录</h4>
                    <p class="weui-media-box__desc" style="color:white;">登录后可享受更多特权</p>
                </div>
                <i class="demo-icon fa-right-open" style="color:white;"></i>
            </a>
        </div>

    </div>
    <input type="text" ng-model="name">
        aaa{{name}}
</div>