
.fa-mysearch:before { content: '\e800'; } /* '' */
.fa-th-large:before { content: '\e801'; } /* '' */
.fa-th-list:before { content: '\e802'; } /* '' */
.fa-ok-circled2:before { content: '\e803'; } /* '' */
.fa-right-open:before { content: '\e804'; } /* '' */
.fa-cog:before { content: '\e805'; } /* '' */
.fa-user:before { content: '\e806'; } /* '' */
.fa-compass:before { content: '\e807'; } /* '' */
.fa-home-outline:before { content: '\e808'; } /* '' */
.fa-bell-alt:before { content: '\f0f3'; } /* '' */